/* Login - Register Form */

.lgform {
  align-items: center;
  padding: 2% 1%;
}

ul {
  list-style-type: none;
}

.input {
  font-size: 15px;
}

ul li {
  padding: 2% 30%;
  align-items: center;
}

ul li .input {
  padding: 15px;
  width: 100%;
  box-shadow: 0px 2px 3px grey;
  border-radius: 2px;
  border-color: transparent;
}

ul li .input:focus {
  box-shadow: 0px 1px 25px rgb(24, 151, 194);
  border-radius: 2px;
  border-color: transparent;
}



p {
  margin: 3px 1px;
  padding: 3px 1px;
}

a {
  margin: 3px 1px;
  padding: 3px 1px;
}

#tabs-cnt {
  width: 100%;
  margin: 0 -2%;
  padding: 0 2%;
  display: flex;
}

.tabs-btn {
  width: 53%;
}

.actives {
  width: 100%;
}

.from {
  display: none;
}

#register {
  background-color: #dfe166;
}

#logindiv {
  background-color: #ec96a4;
}

#login_btn:hover{
  background-color: rgb(77, 255, 169) !important;
}

#libtn {
    width: 50%;
    background-color:  #ec96a4;
}

#regbtn {
    background-color: #dfe166;
    width: 50%;
}

#regbtn:active {
    outline: none;
}

#tabs-cnt>button {
    text-align: 15px;
    height: 40px;
    cursor: pointer;
    border-color: transparent;
}

#regbtn:focus {
    outline: none;
}
#libtn:focus {
   outline: none;
}

#regbtn:hover {
    outline: none;
    border-bottom-color: white;
}
#libtn:hover {
    outline: none;
    border-bottom-color: white;
}

#div-shadow {
  box-shadow: 0px 2px 3px grey;
}

#div-shadow:hover {
  box-shadow: 0px 2px 10px grey;
}