

nav {
  display: inline;
  text-align: center;
}

nav ul {
  padding: 20px;
  box-shadow:  0px 2px 3px grey;
  background-color:#353C3F;
}

nav #navList li {
  display: inline;
  padding: 10px 19px;
}
/*#32384D*/
ul li .right-item {
  text-align: right;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  padding: 40px;
  color: #f4f4ef;
}

nav ul li a:hover {
  color: #FF8D3f;
}

#search {
  padding: 10px;
  border-radius: 3px;
  border-color: transparent;
}

#search:focus {
  box-shadow: 0px 1px 5px lightblue;
}