

nav {
  height: 170px;
  white-space: nowrap; 
  top: 0px;
  display: inline;
  text-align: center;
}

nav ul {
  box-shadow:  0px 2px 3px 0 rgba(0,0,0,0.2);
  background-color:#f4f4ef;
  padding-top: 100px;

}
#navList {
  margin:0px;
  padding-top:25px; 
  height: 70px;

}

nav #navList li {
  display: inline;
}

nav ul li a:hover i{
  color: #ec96a4;
}

nav ul li {
  padding-top:100px; 
}

nav ul li {
  padding-left: 140px;
  margin-top: 100px;
}

nav ul li a {
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  color: #778899;
}

nav ul li a:hover {
  border-bottom: 2px #ec96a4 solid;
  transition: .2s ease;
}

#search {
  padding: 10px;
  border-radius: 3px;
  border-color: transparent;
}

#search:focus {
  box-shadow: 0px 1px 10px #ec96a4;
  outline: none;
}

