

.prof-list li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
  width: 100%;
}

.prof-list {
  width: 100%;
  height: 10%;
  text-align: center;
}

.profile-div {
  background-color: #f4f4ef;
  padding: 10px 10px;
  box-shadow: 0px 2px 3px grey;
  height: 200px;
}

.left-prof {
  width: 300px;
  float: left;
  overflow: hidden;
}

.biocont {
  width: auto;
  height: auto;
  display: inline;
  text-align: center;
}

.left-prof {
  padding: 25px 20px;
  width: 200px;
  height: 200px;
}

.bio {
  padding: 25px 20px;
  overflow: hidden;
}

.user-buttons {
  list-style: none;
  border: solid 1px black;
  text-align: center;
}

#buttons-id input {
  width: 49.5%;
  margin: -3px;
  padding: 10px;
  outline: none;
  outline-style: none;
}

#buttons-id {
  text-align: center;
}

/*Photos Tab*/

.user-photos {
  width: 100%;
  height: auto;
  border: solid black 1px;
}

.user-info {
  width: 100%;
  height: auto;
  border: solid black 1px;
}

.userCard {
  margin: 15px 0px;
  width: 100%;
  height: 300px;
  box-shadow: 0px 2px 3px grey;
  background: #f4f4ef;
}

.header {
  background: #778899;
  height: 50px;
  margin: 0px 0px;
  text-align: center;
  color: #f4f4ef;
}

.header header {
  margin: 10px 0px;
}

#user-name {
  margin: 0px 0px 0px 10px;
}

#user-photo {
  width: 200px;
  max-height: 100%;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

#user-photo>img {
  max-height: 100%;
  margin: 30px 0px;
}

#card-footer {
  text-align: center;
  max-height: 100%;
  border-top: #778899 solid 1px;
  white-space: nowrap; 
}

#card-footer ul li {
  list-style: none;
  display: inline;
  margin: 0px 40px;
}

#card-footer ul {}


.photo-container {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: repeat(3,1fr);

}


section img {
  height: 350px;
  width: 100%;
  justify-self: center;
}

section img:hover {
  filter: brightness(50%);
  cursor: pointer;
  box-shadow: 0px 2px 3px grey;
}