/* user Card */

article {
  height: 300px;
  width: 70%;
  margin: 100px auto;
  display: flex;
}

article img {
  height: 300px;
  width: 300px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

header {
  height: auto;
  width: auto;
}

#button-prof {
  padding: 20px 0px;
  text-align: center;
}

#button-prof a {
  color: #262626;
  text-decoration: none;
  padding: 10px 25px;
  margin: 10px;
  border: 2px solid var(--decoration-color);
  border-radius: 20px;
}

#button-info {
  border-top: 1px lightgray solid;
  padding: 20px 100px;
  width: 55%;
  margin: 0px auto;
  text-align: center;
}

#button-info a {
  color: inherit;
  text-decoration: none;
  padding: 20px 10px;
  margin: 0px 30px;
  font-weight: bold;
  cursor: pointer;
}

#button-info a:active {
  color: var(--decoration-color);
}

.prof_tab_active {
  border-top: 1px solid var(--decoration-color);
}

/* Little user's-menu */

.user-menu {
  position: absolute;
  right: 26%;
  box-shadow: var(--box-shadow-Menus);
  border-radius: 5px;
  background-color: var(--bg-color);
  cursor: pointer;
  display: none;
}

.user-menu ul {
  list-style: none;
  padding: 0px 0px;
  margin: 0px 0px;
}

.user-menu-hide {
  display: block;
}

.user-menu ul li {
  padding: 10px 40px;
  margin: 0px auto;
  border-bottom: 1px solid lightgray;
}

.user-menu ul li:hover {
  border-radius: 5px;
  background-color: rgb(153, 153, 153);
}

.fa-ellipsis-v:hover {
  color: var(--decoration-color);
  cursor: pointer;
}

.fa-ellipsis-v {
  float: right;
  font-size: 20px;
}

#button-prof a:hover {
  cursor: pointer;
  background-color: var(--decoration-color);
}

article header {
  padding: 0px 0px 0px 110px;
}

/*Photos Tab*/

.photo-container {
  width: 70%;
  margin: 0px auto;
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: repeat(3, 1fr);
  display: none;
}

section img {
  height: 350px;
  width: 100%;
  justify-self: center;
}

section img:hover {
  filter: brightness(50%);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

#add_pic {
  position: absolute;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  border-radius: 50%;
  transform: rotate(360deg);
}

#add_pic i {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 80px;
  color: #60c36e;
  transition: all ease-in .2s;
}

#add_pic i:hover {
  font-size: 80px;
  transform: rotate(180deg);
  transition: all ease-in .2s;
}

#add_pic_list {
  position: absolute;
  position: fixed;
  bottom: 9%;
  right: 60px;
  display: none;
  transition: all ease-in 2.4s;
}

#add_pic_list ul {
  list-style: none;
}

#add_pic_list ul li {
  padding: 10px 0px;
}

#add_pic_list ul li i {
  font-size: 30px;
}

#add_pic_list ul li i:hover {
  color: var(--decoration-color);
}

.add_pic_list {
  display: block;
  transition: all ease-in 2.4s;
}

/* About Tab-Page */

.user-info {
  text-align: center;
  width: 72%;
  margin: 0px auto;
}

.user-info ul {
  width: 50%;
  margin: 0px auto;
  padding: 0px 30%;
}

.user-info ul li {
  text-align: right;
  display: flex;
  margin: 20px 110px;
  list-style: none;
}

.user-info ul li i {
  font-size: 25px;
}

.user-info ul li p {
  margin: 10px auto;
}

.user-info ul li hr {
  width: 100%;
}

.edit-button {
  width: 30%;
  margin: 30px auto;
}

.edit-button a {
  width: 100%;
  padding: 10px 60px;
  border: 2px solid var(--decoration-color);
  border-radius: 20px;
  text-decoration: none;
  color: #262626;
}

.edit-button a:hover {
  background-color: var(--decoration-color);
}

.tabcontent {
  display: none;
}