extends home.pug

    
block main

    .container
        h2 Error 404 Not found
    footer.page-footer.green
        .container
            .row
                .col.l6.s12
                    h5.white-text Tell us something hot 
                        i.material-icons whatshot
                    |                 
                    p.grey-text.text-lighten-4 We all wanna read a very nasty story. Think of it like a newspaper for very hot stories.
                |               
                .col.l4.offset-l2.s12
                    h5.white-text Make your Blogging more interesting
                    |                 
                    ul
                        li
                            a.grey-text.text-lighten-3(href="#!") Academic Writting
                        |                   
                        li
                            a.grey-text.text-lighten-3(href="#!") Productive writing
                        |                   
                        li
                            a.grey-text.text-lighten-3(href="#!") Dictionary
                        |                   
                        li
                            a.grey-text.text-lighten-3(href="#!") Being Nasty
                |           
        .footer-copyright
            .container
            | © 2018 Copyright Text
            a.grey-text.text-lighten-4.right(href="#!") More Links

block script