extends home.pug
block head
    link(rel="stylesheet", href='../public/css/blog.css')
    title Blog    
block main
    // navigation Bar
    // Photo On the Top
    div
        .container
            // container for the grid
            .grid-container
                #one 1
                #two 2
                #three 3
                #four 4
                #five 5
block script
    script(src='../public/js/home.js')