extend home.pug

block head
    link(rel="stylesheet", href='../public/sass/blog_create.sass')
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

block main
        .blog_buttons
            i.material-icons.waves-effect.waves-dark format_bold
            i.material-icons.waves-effect.waves-dark format_italic
            i.material-icons.waves-effect.waves-dark format_align_center
            i.material-icons.waves-effect.waves-dark format_align_justify
            i.material-icons.waves-effect.waves-dark format_clear
            i.material-icons.waves-effect.waves-dark format_color_text
            i.material-icons.waves-effect.waves-dark format_indent_decrease
            i.material-icons.waves-effect.waves-dark format_indent_increase
            i.material-icons.waves-effect.waves-dark format_line_spacing
            i.material-icons.waves-effect.waves-dark format_list_bulleted
            i.material-icons.waves-effect.waves-dark format_list_numbered
            i.material-icons.waves-effect.waves-dark format_quote
            i.material-icons.waves-effect.waves-dark format_size
            i.material-icons.waves-effect.waves-dark format_underlined




        .container
            .text-field
                textarea(name="blogarea")

            br
            a.waves-effect.waves-light.btn
                i.material-icons.right send
                | Submit
            a.waves-effect.waves-light.right.btn.red
                i.material-icons.right cancel
                | delete
        br
        footer.page-footer.green
            .container
                .row
                    .col.l6.s12
                        h5.white-text Tell us something hot 
                            i.material-icons whatshot
                        |                 
                        p.grey-text.text-lighten-4 We all wanna read a very nasty story. Think of it like a newspaper for very hot stories.
                    |               
                    .col.l4.offset-l2.s12
                        h5.white-text Make your Blogging more interesting
                        |                 
                        ul
                            li
                                a.grey-text.text-lighten-3(href="#!") Academic Writting
                            |                   
                            li
                                a.grey-text.text-lighten-3(href="#!") Productive writing
                            |                   
                            li
                                a.grey-text.text-lighten-3(href="#!") Dictionary
                            |                   
                            li
                                a.grey-text.text-lighten-3(href="#!") Being Nasty
                |           
            .footer-copyright
                .container
                | © 2018 Copyright Text
                a.grey-text.text-lighten-4.right(href="#!") More Links


block script

    script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
    script(src='../public/js/home.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
    script(src="/socket.io/socket.io.js")