<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="../public/css/home.css">
    <link rel='stylesheet' href="../public/css/blog.css">
    <title>Document</title>
</head>

<body>
    <!-- navigation Bar -->
    <nav id='nav'>
    </nav>
    <!-- Side menu -->

    <div class="sidemenu" id='sidemenu'>
    </div>

    <div id='notifications'>
    </div>
    <!-- Photo On the Top -->
    <div>

    </div>
    <div class="container">

        <!-- container for the grid -->
        <div class="grid-container">
            <div id="one">1</div>
            <div id='two'>2</div>
            <div id='three'>3</div>
            <div id='four'>4</div>
            <div id='five'>5</div>
        </div>


    </div>


</body>
<script src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js'></script>
<script src='../public/js/home.js'></script>

</html>