extends home.pug
block head
    link(rel="stylesheet", href='../public/sass/sass.sass')
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    title Blog    
block main
    // navigation Bar
    // Photo On the Top

    .carousel.carousel-slider.center
        .carousel-fixed-item.center
            a.btn.waves-effect.white.grey-text.darken-text-2 Read More
        .carousel-item.white-text(href='#one!')
            img(src="../public/img/couples2.jpg")
            h2 First Panel
            p.white-text This is your first panel
        .carousel-item.white-text(href='#two!')
            h2 Second Panel
            p.white-text This is your second panel
            img(src="../public/img/couples11.jpg")
        .carousel-item.white-text(href='#three!')
            img(src="../public/img/couples4.jpeg")
            h2 Third Panel
            p.white-text This is your third panel
        .carousel-item.white-text(href='#four!')
            img(src="../public/img/couples5.jpg")
            h2 Fourth Panel
            p.white-text This is your fourth panel
        .carousel-item.white-text(href='#four!')
            img(src="../public/img/couples5.jpg")
            h2 Fourth Panel
            p.white-text This is your fourth panel
        .carousel-item.white-text(href='#four!')
            img(src="../public/img/couples5.jpg")
            h2 Fourth Panel
            p.white-text This is your fourth panel

    .container

        .latest-post
            img(src="../public/img/couples.jpg")
            .latest-text
            h3 I want to fuck all my collegues
            .latest-footer
                a Nicky Smith
                small 3 mins ago


        .grid-container
            .blog-card
                img(src="../public/img/couples.jpg")
                .tittle
                    h5 She was the office's bike
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago

            .blog-card
                img(src="../public/img/couples2.jpg")
                .tittle
                    h5 She never spits
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago
            .blog-card
                img(src="../public/img/couples3.jpeg")
                .tittle
                    h5 I found my sex friend
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago
            .blog-card
                img(src="../public/img/couples4.jpeg")
                .tittle
                    h5 Dress up like a man ashdkjashkajshd kjashdksajh kasj haskjhakjd askjdh askjd haskdj hkjd hskjhd sakjd sakjas dkjahskjsah ksajh sakdjhaskjh
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago
            .blog-card
                img(src="../public/img/couples5.jpg")
                .tittle
                    h5 Dress up like a man ashdkjashkajshd kjashdksajh kasj haskjhakjd askjdh askjd haskdj hkjd hskjhd sakjd sakjas dkjahskjsah ksajh sakdjhaskjh
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago
            .blog-card
                img(src="../public/img/couples5.jpg")
                .tittle
                    h5 Dress up like a man ashdkjashkajshd kjashdksajh kasj haskjhakjd askjdh askjd haskdj hkjd hskjhd sakjd sakjas dkjahskjsah ksajh sakdjhaskjh
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago
            .blog-card
                img(src="../public/img/couples5.jpg")
                .tittle
                    h5 Dress up like a man ashdkjashkajshd kjashdksajh kasj haskjhakjd askjdh askjd haskdj hkjd hskjhd sakjd sakjas dkjahskjsah ksajh sakdjhaskjh
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago
            .blog-card
                img(src="../public/img/couples5.jpg")
                .tittle
                    h5 Dress up like a man ashdkja shkajshd kjashdksajh kasj haskjhakjd askjdh askjd haskdj hkjd hskjhd sakjd sakjas dkjahskjsah ksajh sakdjhaskjh
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago                    
            .blog-card
                img(src="../public/img/couples5.jpg")
                .tittle
                    h5 Dress up like a man ashdkjashkajshd kjashdksajh kasj haskjhakjd askjdh askjd haskdj hkjd hskjhd sakjd sakjas dkjahskjsah ksajh sakdjhaskjh
                .blog-footer
                    a Nicky Smith
                    small 3 mins ago





block script
    script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
    script(src='../public/js/home.js')
    script(src='../public/js/blog.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')

