doctype html
html

  head
    meta(charset='utf-8')
    link(href='../public/css/home.css')
    link(rel='stylesheet', href='../public/css/home.css')
    link(rel='stylesheet', href='../public/css/navbar.css')
    link(rel="icon", href="../public/img/logo.png")

    block head
        title Home
  body
    
    // navigation Bar
    nav#nav
        ul#navList
            li
                .con(onclick='menuicon(this)')
                    .bar1
                    .bar2
                    .bar3
            li#search_li
                input#search(placeholder='Username')
            i#search_icon.fas.fa-search
            li
                .notification
                    i#notification-icon.fas.fa-bell(onclick='notificationss()', title='notification')

    // Side menu
    #sidemenu.sidemenu
        header
            img(src='../public/img/hotty12.jpg', alt='')
            h4 Username , 23 
            span
                i.fas.fa-circle(style='color: lightgreen;')
                |  online
            small
                i.fas.fa-map-marker
                |  London, UK
        hr
        ul
            li
                a(onclick='', href='/')
                    | Home
                    i.fas.fa-home
            li
                a(onclick='', href='/profile/test')
                    | Profile
                    i.fas.fa-user
            li.right-item
                a(href='/messages')
                    | Messages
                    i.fas.fa-envelope
            li
                a(href='/swap')
                    | Swap
                    i.fas.fa-heart
            li.right-item
                a(href='/login')
                    | Login
                    i.fas.fa-sign-in-alt
            li
                a(href='/blog')
                    | Blog
                    i.fab.fa-blogger-b
    //Notification in the Navbar
    #notifications
        header
            i.fas.fa-bell
            |  Notifications
        main
            ul
                li
                    div
                        img(src='../public/img/hotty13.jpg', alt='')
                    |  a
                    a(href='') message
                    |  from
                    a(href='') Jessica
                li
                    div
                        img(src='../public/img/hotty14.jpg', alt='')
                    |  a
                    a(href='') message
                    |  from
                    a(href='') Elise
                li
                    div
                        img(src='../public/img/hotty15.jpg', alt='')
                    |  a
                    a(href='') message
                    |  from
                    a(href='') Maria
                li
                    div
                        img(src='../public/img/hotty16.jpg', alt='')
                    |             a
                    a(href='') message
                    |  from
                    a(href='') Margaret
                li
                    div
                        img(src='../public/img/hotty17.jpg', alt='')
                    | a
                    a(href='') message
                    |  from
                    a(href='') Jeanete
                li
                    div
                        img(src='../public/img/hotty18.jpg', alt='')
                    |  a
                    a(href='') message
                    |  from
                    a(href='') Nicky
block main
    main#main
    .container
        form#submit-form
          h4
            i.fas.fa-pencil-alt
            |  Write your thoughts
          br
          textarea#textarea(name='textarea')
          ul
            li
              button.btn.btn-post(onclick='sendpost()', type='button', name='button') Post
            li
              button#refreshbtn.btn.btn-cancel(type='button')
                i.fas.fa-ban
                |  Cancel
        #post

        each post in posts
            .user-container(id=`${post._id}`)
                .usercard2
                    img(style='', src='../public/img/lopez.jpg')
                    h2
                        a(href='') Nicky Smith
                    ul.hover_icons
                        li
                            a(href='/messages')
                                i.fas.fa-envelope
                .post-user
                    .post-text
                        span.close(title='delete post', onclick=`delete_post('${post._id}')`) ×
                        .post-text2
                            p #{post.post}
                            br
                    hr
                    .post-list
                        ul
                            li
                                a(href='')
                                    i.far.fa-heart(style='color: red;')
                                |  (34)
                            li
                                a(href='')
                                    i.far.fa-comment
                                |  (3)
                            li
                                small.date
                                    i.far.fa-calendar
                                    |  #{post.date}
block script
    script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
    script(src='../public/js/home.js')
