<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="../public/css/home.css">

  <title>Home</title>
</head>

<body>
  <!-- navigation Bar -->
  <div id='nav'>
  </div>
  <div class="container">
    ${posts.map(f =>`
    <div class="user-container" id="${f._id}">
    <div class="usercard2" >
      <img style="" src="../public/img/lopez.jpg">
      <h2><a href="">Nicky Smith</a></h2>
      <ul class="hover_icons">
        <li><a href='/messages'><i class="fas fa-envelope"></i></a></li>
      </ul>  
    </div>
    <div class='post-user'>
      <div class='post-text'>
        <span class="close" title="delete post" onclick="delete_post('${f._id}')">&times;</span>
        <div class='post-text2'>
        <p>${f.post}</p>
        <br>
        
        </div>
      </div>
        <hr>
      <div class='post-list'>
        <ul>
          <li><a href=""><i style="color: red;" class="far fa-heart"></i></a> (34)</li>
          <li><a href=""><i class="far fa-comment"></i></a> (3)</li>
          <li><small class='date'><i class="far fa-calendar"></i> ${f.date}</small></li>
        </ul>
      </div>
    </div>
    </div>`).join('')}




    
    <!-- //////////////User Card /////////////// -->
    <div id="post">

    </div>
    <!-- ///////////////////////////////// -->

    <form id="submit-form">
      <h4><i class="fas fa-pencil-alt"></i> Write your thoughts</h4>
      <br>
      <textarea id="textarea" name="textarea" rows="10" cols="72"></textarea>
      <ul>
        <li>
          <button onclick="sendpost()" type="button" name="button" class="btn btn-post">Post</button>
        </li>
        <li>
          <button type="button" class="btn btn-cancel" id="refreshbtn"><i class="fas fa-ban"></i> Cancel</button>
        </li>
      </ul>
    </form>
  </div>


</body>
<script src='../public/js/home.js'></script>

</html>