<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="../public/css/home.css">
  <title>ok</title>
</head>

<body>
  <!-- navigation Bar -->
  <div id='nav'>
  </div>
<div class="container">
  <div class="user-card">


  </div>

  <form class="container" action="/post" method="post">
    <h4>Write your thoughts</h4>
    <br>
    <textarea name="name" rows="10" cols="72"></textarea>
    <ul>
      <li><button type="button" name="button" class="btn btn-post">Post</button></li>
      <li><button type="button" name="button" class="btn btn-cancel">Cancel</button></li>
    </ul>

  </form>

</div>


</body>
<script src='../public/js/home.js'></script>

</html>
