<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="../public/css/home.css">

  <title>Home</title>
</head>

<body>
  <!-- navigation Bar -->
  <div id='nav'>
  </div>
  <div class="container">
    ${posts.map(f =>`
    <div class="user-card" id='user-card'>

      <div class="user-card-items">
        <img src="../public/img/download2.jpeg" width="40px" height="40px">
        <br>
        <small>Mr. Smith</small>
      </div>

      <div class="user-card-items">
        <p>
          ${f.post}
        </p>
      </div>
      <hr>
      <ul class="home-card-list">
        <li>
          <button onclick="like_post()" class="btn-delete like" style="padding: 0px;">23 like(s) </button>
        </li>
        <li>${f.date}</li>
        <li>
          <button onclick="delete_post()" class="btn-delete" id="delete_post" data-id='${f._id}'>${f._id}</button>
        </li>
      </ul>
    </div>`).join('')}
    <!-- //////////////User Card /////////////// -->
    <div id="post">

    </div>
    <!-- ///////////////////////////////// -->

    <form class="container" id="submit-form">
      <h4>Write your thoughts</h4>
      <br>
      <textarea id="textarea" name="textarea" rows="10" cols="72"></textarea>
      <ul>
        <li>
          <button onclick="sendpost()" type="button" name="button" class="btn btn-post">Post</button>
        </li>
        <li>
          <button type="button" class="btn btn-cancel" id="refreshbtn">Cancel</button>
        </li>
      </ul>
    </form>
  </div>


</body>
<script src='../public/js/home.js'></script>

</html>