doctype html
html

  head
    meta(charset='utf-8')
    link(href='../public/css/home.css')
    link(rel='stylesheet', href='../public/css/home.css')
    link(rel='stylesheet', href='../public/sass/sass.sass')
    link(rel='stylesheet', href='../public/css/navbar.css')
    link(rel="icon", href="../public/img/logo.png")
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

    block head
        title Home
  body
    include nav_bar.pug

    // Side menu
    if user
        include side_bar.pug

    
    //Notification in the Navbar
    include notifications.pug
block main
    main#main
    .container
        include flash_messages.pug
        form#submit-form
            br
            .input-field.col.s6
                i.material-icons.prefix mode_edit
                textarea#icon_prefix2.materialize-textarea(name='textarea')
                label(for="icon_prefix2") Write your thoughts
            ul
                li

                    button.waves-effect.waves-light.btn(onclick='sendpost()', type='button', name='button') Post
                        i.material-icons.right send
                li
                    button#refreshbtn.waves-effect.waves-light.btn(type='button')
                        i.material-icons.right cancel
                        |  Cancel
        #post
 
        each post in posts
            .user-post(id=`${post._id}`)
                img(src='../public/img/hotty5.jpg', alt)
                .user-post-grid
                    .user-name-min
                        a(href='profile/ela') Nicky Smith &middot;
                            small  3 mins ago
                        i.small.material-icons.waves-effect.waves-dark#close(title='delete post', onclick=`delete_post('${post._id}')`) close

                    .post-p
                        |#{post.post}
                        hr
                    .about-post
                        i.small.material-icons.waves-effect.waves-teal#thumb_up thumb_up
                        i.small.material-icons.waves-effect.waves-red#thumb_down thumb_down



block script
    script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
    script(src='../public/js/home.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
