extends home.pug
block head
    link(rel='stylesheet', href='/public/css/login.css')
    link(rel='stylesheet', href='/public/css/home.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    title Login
    

block main
    // Login  Form
    main#main
        .container
            #div-shadow
                #tabs-cnt
                    button#libtn.tabs-btn(onclick="tabs('login')") Login
                    button#regbtn.tabs-btn(onclick="tabs('login/register')") Register
                #logindiv.log-items.form
                    // Log In
                    form(action='/login', method='POST')
                        ul
                            li
                                h1 Login
                            li
                                include flash_messages.pug
                            li
                                .input-field.col.s12
                                    i.material-icons.prefix email
                                    input#email.validate.input(type='email', name='email')
                                    label(for='email') Email
                            li
                                .input-field.col.s12
                                    i.material-icons.prefix vpn_key
                                    input#password.input(name='password', type='password',data-length="6")
                                    label(for='email') Password
                            li
                                a(href='') forgot password?
                                br
                                br
                                button.waves-effect.waves-light.btn(type='submit', value='Submit') Login

        // Register  Form
        #register.form
block script
    script(src='../public/js/home.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js')
    script(src='../public/js/login.js')