extends home.pug
block head
    link(rel='stylesheet', href='/public/css/login.css')
    link(rel='stylesheet', href='/public/css/home.css')
    title Login
    

block main
    // Login  Form
    main#main
        .container
            #div-shadow
                #tabs-cnt
                    button#libtn.tabs-btn(onclick="tabs('login')") Login
                    button#regbtn.tabs-btn(onclick="tabs('login/register')") Register
                #logindiv.log-items.form
                    // Log In
                    form(action='/login', method='POST')
                        ul
                            li
                                h1 Login
                            li
                                include flash_messages.pug

                            li
                                p email
                                input#username.input(name='username', type='text', placeholder='example@mail.ac.uk')
                            li
                                p password
                                input#password.input(name='password', type='password', placeholder='password')
                            li
                                a(href='') forgot password?
                                br
                                br
                                button#login_btn.btn(type='submit', value='Submit') Login

        // Register  Form
        #register.form
block script
    script(src='../public/js/login.js')
    script(src='../public/js/home.js')
