.navigation#nav
    ul#navList
        li
            .con(onclick='menuicon(this)')
                .bar1
                .bar2
                .bar3
        li#search_li
            input#search(placeholder='Username')
        i#search_icon.fas.fa-search
        li
            .notification
                i#notification-icon.material-icons.waves-effect.waves-dark(onclick='notificationss()', title='notification') notifications






