<head>

  <link rel="stylesheet" href="../public/css/home.css">
  <link rel="stylesheet" href="../public/css/navbar.css">
  <link rel='shortcuticon' href="../public/img/logo.png">
</head>

<ul id="navList">
  <li>
    <div class="con" onclick="menuicon(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </li>
  <li>
    <a onclick="" href="/">
      <i class="fas fa-home"></i> Home</a>
  </li>
  <li>
    <a onclick="" href="/profile/test">
      <i class="far fa-user"></i> Profile</a>
  </li>
  <li class='right-item'>
    <a href="/messages">
      <i class="far fa-envelope"></i> Messages</a>
  </li>
  <li class='right-item'>
    <a href="/login">
      <i class="fas fa-sign-in-alt"></i> Login</a>
  </li>
  <li>
    <a href="/swap">
      <i class="fas fa-heart"></i> Swap </a>
  </li>
  <li>
    <input id="search" placeholder="Username">
  </li>
  <li>
    <div class="notification">
      <i class="far fa-bell" title="notification"></i>
    </div>
  </li>
</ul>