#notifications
    header
        i.material-icons notifications
        |  Notifications
    main
        ul
            li
                div
                    img(src='../public/img/hotty13.jpg', alt='')
                |  a
                a(href='') message
                |  from
                a(href='') Jessica
            li
                div
                    img(src='../public/img/hotty14.jpg', alt='')
                |  a
                a(href='') message
                |  from
                a(href='') Elise
            li
                div
                    img(src='../public/img/hotty15.jpg', alt='')
                |  a
                a(href='') message
                |  from
                a(href='') Maria
            li
                div
                    img(src='../public/img/hotty16.jpg', alt='')
                |             a
                a(href='') message
                |  from
                a(href='') Margaret
            li
                div
                    img(src='../public/img/hotty17.jpg', alt='')
                | a
                a(href='') message
                |  from
                a(href='') Jeanete
            li
                div
                    img(src='../public/img/hotty18.jpg', alt='')
                |  a
                a(href='') message
                |  from
                a(href='') Nicky