<header>
    <i class="fas fa-bell"></i> Notifications</header>
<main>
    <ul>
        <li>
            <div>
                <img src="../public/img/hotty13.jpg" alt="">
            </div> a
            <a href="">message</a> from
            <a href="">Jessica</a>
        </li>
        <li>
            <div>
                <img src="../public/img/hotty14.jpg" alt="">
            </div> a
            <a href="">message</a> from
            <a href="">Elise</a>
        </li>
        <li>
            <div>
                <img src="../public/img/hotty15.jpg" alt="">
            </div> a
            <a href="">message</a> from
            <a href="">Maria</a>
        </li>
        <li>
            <div>
                <img src="../public/img/hotty16.jpg" alt="">
            </div>
            a
            <a href="">message</a> from
            <a href="">Margaret</a>
        </li>
        <li>
            <div>
                <img src="../public/img/hotty17.jpg" alt="">
            </div>a
            <a href="">message</a> from
            <a href="">Jeanete</a>
        </li>
        <li>
            <div>
                <img src="../public/img/hotty18.jpg" alt="">
            </div> a
            <a href="">message</a> from
            <a href="">Nicky</a>
        </li>
    </ul>
</main>