<link rel="stylesheet" href="../public/css/home.css">
<link rel="stylesheet" href="../public/css/profile.css">
<link rel="stylesheet" href="../public/material-photo-gallery/dist/css/material-photo-gallery.css">

<title>Username</title>
  <nav id='nav'>
  </nav>

<div class="container">

  <div  id='prof-info'>
    <div class='userCard'>
      <div class='header'>
        <h2 id='user-name'>UserName</h2>

      </div>
      <div id='user-photo'>
        <img src="../public/img/download2.jpeg">

      </div>

      <div>
        <div id='card-footer'>
          <ul>
            <li>
              <i class="fas fa-venus"></i> Female
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>  London,UK
            </li>
            <li>
            <i class="fas fa-smoking-ban"></i> Non Smoker
            </li>
            <li>
            <i class="fas fa-birthday-cake"></i> 24
            </li>
            <li>
              <i class="fas fa-briefcase"></i> Designer
            </li>
            <li>
            <i class="fas fa-beer"></i> Drinker
            </li>
            <li>
            <i class="fas fa-child"></i> 2
            </li>
            <li>
            <i class="fas fa-graduation-cap"></i> Degree
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
 

    <section class='photo-container' >
        
      <img src="../public/img/hotty2.jpg">
      <img src="../public/img/hotty3.jpg">
      <img src="../public/img/hotty4.jpg">
      <img src="../public/img/lopez.jpg">
      <img src="../public/img/hotty5.jpg">
      <img src="../public/img/hotty6.jpg">      
      <img src="../public/img/hotty7.jpg">
      <img src="../public/img/hotty8.jpg">
      <img src="../public/img/hotty9.jpg">
      <img src="../public/img/hotty10.jpg">
      <img src="../public/img/hotty11.jpg">
      <img src="../public/img/hotty12.jpg">
      <img src="../public/img/hotty13.jpg">
      <img src="../public/img/hotty14.jpg">
      <img src="../public/img/hotty15.jpg">
      <img src="../public/img/hotty16.jpg">
      <img src="../public/img/hotty17.jpg">
      <img src="../public/img/hotty18.jpg">
      <img src="../public/img/hotty19.jpg">
      <img src="../public/img/hotty20.jpg">
      <img src="../public/img/hotty21.jpg">
      <img src="../public/img/hotty22.jpg">
      <img src="../public/img/hotty23.jpg">
      <img src="../public/img/hotty24.jpg">
    </section>

    <br>
    <br>
    <br>
    <br>







  </div>
</div>


<script src='../public/js/home.js'></script>
<script src='../public/js/profile.js'></script>