<link rel="stylesheet" href="../public/css/home.css">
<link rel="stylesheet" href="../public/css/profile.css">
<link rel="stylesheet" href="../public/material-photo-gallery/dist/css/material-photo-gallery.css">

<title>Username</title>
<nav id='nav'>
</nav>
<div class="sidemenu" id='sidemenu'>
</div>
<div id='notifications'>
</div>
<main id="main">
  <div class="container">
    <div id='prof-info'>
      <!-- <<<<<<<<<<<>>>>>>>>>> -->

      <article>
        <img src="../public/img/hotty5.jpg" alt="">
        <header>
          <div class='user-menu' id='user-menu'>
            <ul>
              <li>Hide from her</li>
              <li>Report</li>
              <li>Block</li>
            </ul>
          </div>
          <h3>Username , 25

            <i id="ellipsis-menu" onclick="userInfoMenu()" class="fas fa-ellipsis-v"></i>
          </h3>
          <h5>
            <i class="fas fa-circle" style="color: lightgreen;"></i> online</h5>
          <small>
            <i class="fas fa-map-marker"></i> London, UK</small>
          <p>
            By in no ecstatic wondered disposal my speaking. Direct wholly valley or uneasy it at really. Sir wish like said dull and
            need make. Sportsman one bed departure rapturous situation disposing his. Off say yet ample ten ought hence.
          </p>
          <div id="button-prof">
            <a href="">
              <i class="fas fa-heart"></i> Meet Me</a>
            <a href="">
              <i class="fas fa-envelope"></i> Message </a>
          </div>

        </header>
      </article>
      <div id="button-info">
        <a href="">Media</a>
        <a href="">About</a>
      </div>
      <!-- <<<<<>>>>>>> -->
      <br>
      <br>


      <section class='photo-container' style='display: none;'>

        <img src="../public/img/hotty2.jpg">
        <img src="../public/img/hotty3.jpg">
        <img src="../public/img/hotty4.jpg">
        <img src="../public/img/lopez.jpg">
        <img src="../public/img/hotty5.jpg">
        <img src="../public/img/hotty6.jpg">
        <img src="../public/img/hotty7.jpg">
        <img src="../public/img/hotty8.jpg">
        <img src="../public/img/hotty9.jpg">
        <img src="../public/img/hotty10.jpg">
        <img src="../public/img/hotty11.jpg">
        <img src="../public/img/hotty12.jpg">
        <img src="../public/img/hotty13.jpg">
        <img src="../public/img/hotty14.jpg">
        <img src="../public/img/hotty15.jpg">
        <img src="../public/img/hotty16.jpg">
        <img src="../public/img/hotty17.jpg">
        <img src="../public/img/hotty18.jpg">
        <img src="../public/img/hotty19.jpg">
        <img src="../public/img/hotty20.jpg">
        <img src="../public/img/hotty21.jpg">
        <img src="../public/img/hotty22.jpg">
        <img src="../public/img/hotty23.jpg">
        <img src="../public/img/hotty24.jpg">
      </section>


      <!-- User Info -->

      <div class="user-info">

        <ul>
          <li>
            <i class="fas fa-female"></i>
            <p>female</p>
          </li>
          <li>
            <i class="fas fa-smoking-ban"></i>
            <p>Non Smoker</p>
          </li>
          <li>
            <i class="fas fa-birthday-cake"></i>
            <p>25</p>
          </li>
          <li>
            <i class="fas fa-suitcase"></i>
            <p>Photo Model</p>
          </li>
          <li>
            <i class="fas fa-graduation-cap"></i>
            <p>Some College</p>
          </li>
          <li>
            <i class="fas fa-child"></i>
            <p>No Children</p>
          </li>
        </ul>
        <hr>
        <div class="edit-button">
          <a href="">
            <i class="fas fa-user-edit"></i> Edit</a>
        </div>

      </div>
      <!--  -->
      <br>
      <br>
      <br>
      <br>

    </div>
  </div>



  <!-- Add button -->
  <div id='add_pic' title="Add Media">
    <i class="fas fa-plus-circle" id='add_pic_button'></i>
  </div>

  <div id='add_pic_list'>
    <ul>
      <li id=''>
        <a href="">
          <p class="add_pic_info"></p>
          <i class="fas fa-camera"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-video"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-lock"></i>
        </a>
      </li>
    </ul>
  </div>


</main>

<script src='../public/js/home.js'></script>
<script src='../public/js/profile.js'></script>