<link rel="stylesheet" href="../public/css/home.css">
<link rel="stylesheet" href="../public/css/profile.css">

<title>Username</title>
<div id="nav">
</div>

<div id="profile">
  <div class="container profile-div">
    <div class="biocont">
      <div class="left-prof">
        <img src="../public/img/download2.jpeg" alt="">
        <br>
        <h3>User name</h3>
      </div>
      <div class="bio">
        heyheyheyheyheyheyh  eyheyheyheyheyheyhey heyheyheyhe yheyheyhe  yhe yheyheyheyheyhe yheyhe yheyh eyheyh eyheyh eyh eyheyhe yheyhe yheyheyheyheyheyheyheyheyheyheyheyhey
      </div>
    </div>
    <br>
    <hr>
    <br>
    <ul class="prof-list">
      <li>
        Matches : 34</li>
      <li>
        Sex : male</li>
      <li>
        Location : London,UK</li>
    </ul>
  </div>
</div>

<script src="../public/js/home.js"></script>
<script src="../public/js/profile.js"></script>
