extends home.pug


block head
    link(rel="stylesheet", href='/public/css/login.css')
    link(rel="stylesheet", href='/public/css/home.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    title Register

block main
    main#main
    .container
        #div-shadow
            #tabs-cnt
                button#libtn.tabs-btn(onclick="tabs('login')") Login
                button#regbtn.tabs-btn(onclick="tabs('login/register')") Register
            #logindiv.log-items.form
            // Register  Form
            #register.form
                form.lgform(action='/login/register', method='POST')
                    ul

                        li
                            h1 Register
                        if errors
                            each error in errors
                                li(style='color: red;')
                                    | #{error.msg}
                        li
                            .input-field.col.s12

                                i.material-icons.prefix account_circle
                                input#username.validate.input(type='text', name='username')
                                label(for='email') Username
                        li
                            .input-field.col.s12
                                i.material-icons.prefix email
                                input#email.validate.input(type='email', name='email')
                                label(for='email') Email
                        li
                            .input-field.col.s12
                                i.material-icons.prefix vpn_key
                                input#password.input(name='password', type='password',data-length="6")
                                label(for='email') Password

                        li
                            .input-field.col.s12
                                i.material-icons.prefix vpn_key
                                input#password.input(type='password', name='password2')
                                label(for='email') Repeat Password

                        li
                            p What's your gender
                            select#gender(name='gender')
                                option(value='male', selected='') male
                                option(value=' female ') female
                                option(value='gay ') gay
                                option(value='transgender ') transgender
                        li
                            button#reg_button.btn(type='submit', value='Submit') Register

block script
    script(src='../public/js/login.js')
    script(src='../public/js/home.js')
    script(src='../public/js/register.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')