<link rel="stylesheet" href="../public/css/home.css">
<link rel="stylesheet" href="../public/css/settings.css">


<nav id='nav'>
</nav>
<div class="sidemenu" id='sidemenu'>
</div>
<div id='notifications'>
</div>
<main id="main">
    <div class="container">


        <div class="settings-grid">
            <!-- make yourself visible -->
            <header>Acount Settings</header>
            <div id="settings-visible">
                <header>
                    <i class="far fa-eye"></i>Make yourself visible / show me</header>
                <p>
                    Men
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </p>
                <p>Woman
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </p>
            </div>

            <div id="settings-age">
                <header>Age Range</header>
                <p>
                    <input type="range" min="1" max="100" value="50"> </p>
            </div>

            <div id="settings-distance">
                <header>Search Distance</header>
                Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance
                Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance
                Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance
                Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance
                Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance Show Distance
                Show Distance Show Distance
            </div>
        </div>


















    </div>
</main>















<script src="../public/js/home.js"></script>