#sidemenu.sidemenu
    header
        img(src='../public/img/hotty12.jpg', alt='')
        h4 #{user.username} , 23 
        span
            i.fas.fa-circle(style='color: lightgreen;')
            |  online
        small
            i.fas.fa-map-marker
            |  London, UK
    hr
    ul
        li(onclick="side_bar_links('/')").waves-effect.waves-dark
            a(href='/')
                | Home
                i.material-icons home
        li(onclick=`side_bar_links('/profile/${user.username}')`).waves-effect.waves-dark
            a(onclick='', href=`/profile/Tony`)
                | Profile
                i.material-icons person
        li.right-item(onclick="side_bar_links('/messages')").waves-effect.waves-dark
            a(href='/messages')
                | Messages
                i.material-icons message
        li(onclick="side_bar_links('/swap')").waves-effect.waves-dark
            a(href='/swap')
                | Swap
                i.material-icons favorite
        li(onclick="side_bar_links('/blog')").waves-effect.waves-dark
            a(href='/blog')
                | Blog
                i.small.material-icons art_track
        li.right-item(onclick="side_bar_links('/login/logout')").waves-effect.waves-dark
            a(href='/login/logout')
                | Logout 
                |#{user.username}
                i.fas.fa-sign-in-alt#logout_icon