<header>
    <img src="../public/img/hotty12.jpg" alt="">
    <h4>Username , 23 </h4>
    <span>
        <i class="fas fa-circle" style="color: lightgreen;"></i> online</span>
    <small>
        <i class="fas fa-map-marker"></i> London, UK</small>
</header>
<hr>
<ul>
    <li>
        <a onclick="" href="/">
            Home
            <i class="fas fa-home"></i>
        </a>
    </li>
    <li>
        <a onclick="" href="/profile/test">
            Profile
            <i class="fas fa-user"></i>
        </a>
    </li>
    <li class='right-item'>
        <a href="/messages">
            Messages
            <i class="fas fa-envelope"></i>
        </a>
    </li>
    <li>
        <a href="/swap">
            Swap
            <i class="fas fa-heart"></i>
        </a>
    </li>
    <li class='right-item'>
        <a href="/login">
            Login
            <i class="fas fa-sign-in-alt"></i>
        </a>
    </li>
    <li> <a href="/logout"></a></li>
</ul>