<link href="../public/css/home.css">
<link rel="stylesheet" href="../public/css/swap.css">

<body>

    <nav id='nav'>

    </nav>
    <div class="sidemenu" id='sidemenu'>
    </div>
    <div id='notifications'>
    </div>
    <div class="container swapping">
        <!-- <main>
            <header>
                <img src="../public/img/hotty14.jpg" alt=" ">
            </header>
            <article> Suzana , 25 </article>
            <footer>
                <ul>
                    <li>
                        <i class="fas fa-times-circle"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-heart"></i>
                    </li>
                </ul>

            </footer>
        </main> -->


        <div class='swap'>
            <img src="../public/img/hotty14.jpg" alt="">
            <ul class="info">
                <li>
                    <p>
                        <i class="fas fa-circle"></i> Suzana , 25 </p>
                </li>
                <li>
                    <p>
                        <i class="fas fa-map-marker"></i> London, UK
                    </p>
                </li>
            </ul>

            <ul class="card-buttons">
                <li>
                    <i class="fas fa-times-circle"></i>
                </li>
                <li>
                    <i class="fas fa-star"></i>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                </li>
            </ul>
        </div>
        <br>
        <hr>
        <br>

    </div>

</body>
<script src='../public/js/home.js'></script>